<header class="header bg-dark">
  <nav>
    <div class="container">
      <ul
        class="list-unstyled d-flex justify-content-between align-items-center mb-0"
      >
        <li class="navLink">
          <a href="#">WILLIAM LEE</a>
        </li>
        <li class="navLink">
          <a href="#">BASED IN TAIWAN</a>
        </li>
        <li class="navLink">
          <a href="#">
            CURRENTLY FRONT END <br />
            ENGINEER AT HEXSCHOOL
          </a>
        </li>
        <li class="navLink">
          <a href="#">CONTACT ME</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
