<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="overflow-x-hidden">
      <section class="banner bg-dark pt-6 pb-c4">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-6">
              <img
                src="../assets/images/people.png"
                alt="William's photo"
                class="img-fluid"
              />
            </div>
            <div class="col-6 d-flex flex-column">
              <h2 class="display-3 text-light" data-aos="animate__fadeInRight">
                Hi
              </h2>
              <h2
                class="display-3 text-light animateDelay-custom"
                data-aos="animate__fadeInRight"
              >
                I’m a front-end <br />
                developer
              </h2>
              <h1 class="display-c1 text-primary text-end animate__animated">
                William
              </h1>
              <div class="d-flex justify-content-end">
                <a href="#" class="pillBtn cus-light-btn"
                  >contact me
                  <svg
                    class="arrowIcon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <mask
                      id="mask0_2_112"
                      style="mask-type: alpha"
                      maskUnits="userSpaceOnUse"
                      x="0"
                      y="0"
                      width="24"
                      height="24"
                    >
                      <rect width="24" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_2_112)">
                      <path
                        d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z"
                        fill="#1C1B1F"
                      />
                    </g>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="overflow-x-hidden">
      <section
        class="intro bg-cover py-c10"
        style="background-image: url(../assets/images/background-img.png)"
      >
        <div class="container">
          <div class="row d-flex">
            <div class="col-5">
              <h2 class="display-3 text-light mb-c4-2">Introduction</h2>
              <p class="fs-4 text-white mb-c4">
                Hi, I'm William Lee, a Front-End Developer with a passion for
                building beautiful and responsive websites that provide an
                optimal user experience.
              </p>
              <div class="intro-imgArea d-flex">
                <img
                  src="../assets/images/sparkle-sm.png"
                  alt="sparkle"
                  class="img-fluid me-3"
                />
                <img
                  src="../assets/images/sparkle-sm.png"
                  alt="sparkle"
                  class="img-fluid me-3"
                />
                <img
                  src="../assets/images/sparkle-sm.png"
                  alt="sparkle"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="col-2">
              <img
                src="../assets/images/sparkle.png"
                alt="sparkle-sm"
                class="img-fluid"
              />
            </div>
            <div class="col-2">
              <img
                src="../assets/images/photographer.png"
                alt="photographer"
                class="img-fluid"
              />
            </div>
            <div class="col-3">
              <img
                src="../assets/images/people-2.png"
                alt="people"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="overflow-hidden">
      <section class="about py-c10">
        <div class="container">
          <div class="row d-flex">
            <ol class="list-unstyled col-6 d-flex g-4">
              <div class="row">
                <div class="col-6">
                  <li class="des-list" data-aos="animate__flipInX">
                    <h3 class="fs-5 mb-1">01</h3>
                    <h3 class="fs-5 mb-1">Attention to Detail</h3>
                    <p>Meticulous code analysis and optimization.</p>
                  </li>
                </div>
                <div class="col-6">
                  <li class="des-list" data-aos="animate__pulse">
                    <h3 class="fs-5 mb-1">02</h3>
                    <h3 class="fs-5 mb-1">Adaptability</h3>
                    <p>Swift learning of new technologies.</p>
                  </li>
                </div>
                <div class="col-6">
                  <li class="des-list" data-aos="animate__pulse">
                    <h3 class="fs-5 mb-1">03</h3>
                    <h3 class="fs-5 mb-1">Problem Solver</h3>
                    <p>Identifying and resolving issues.</p>
                  </li>
                </div>
                <div class="col-6">
                  <li class="des-list" data-aos="animate__flipInX">
                    <h3 class="fs-5 mb-1">04</h3>
                    <h3 class="fs-5 mb-1">Team Player</h3>
                    <p>Collaborates and shares ideas.</p>
                  </li>
                </div>
              </div>
            </ol>
            <div class="col-5 ms-auto">
              <div class="aboutMe">
                <h2 class="display-3 mb-c4-2">About Me</h2>
                <p class="fs-4">
                  With over 5 years of experience, I'm proficient in HTML, CSS,
                  JavaScript, jQuery, and React. I have a strong understanding
                  of user experience design and accessibility. I'm always
                  learning new technologies and techniques to stay up-to-date in
                  the field.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="contactMe py-7">
      <div class="container">
        <div class="row">
          <div class="col-7 d-flex align-items-center">
            <h2 class="display-3 text-white">CONTACT ME</h2>
            <img
              src="../assets/images/trending_flat_black_24dp 1.png"
              alt="trending_flat_black_arrow"
              class="img-fluid ms-3"
              data-gsap="arrow-right-move"
            />
          </div>
          <div class="col-5">
            <div class="d-flex">
              <a href="#" class="socialIcon me-c3">
                <img
                  src="../assets/images/discord.png"
                  class="img-fluid"
                  alt="discord"
                />
              </a>
              <a href="#" class="socialIcon me-c3">
                <img
                  src="../assets/images/instagram.png"
                  class="img-fluid"
                  alt="instagram"
                />
              </a>
              <a href="#" class="socialIcon">
                <img
                  src="../assets/images/message.png"
                  class="img-fluid"
                  alt="message"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="overflow-hidden">
      <section class="myProjects py-c10">
        <div class="container">
          <div class="row mb-3">
            <h2 class="display-3 col-7 ms-auto">My Projects</h2>
          </div>
          <div class="row d-flex">
            <div class="col-4">
              <img src="../assets/images/Rectangle 10.png" alt="" />
            </div>
            <div class="col-8">
              <div class="profile d-flex flex-column">
                <div class="row mb-c4-1">
                  <div class="col-3">
                    <img
                      src="../assets/images/Rectangle 15.png"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-9 d-flex flex-column">
                    <p>
                      I've worked on a variety of websites, including e-commerce
                      sites, blogs, and landing pages. I take pride in creating
                      clean, efficient, and user-friendly code.
                    </p>
                    <div class="mt-auto d-flex">
                      <a href="#" class="pillBtn cus-dark-btn">
                        SEE MORE
                        <svg
                          class="arrowIcon"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <mask
                            id="mask0_2_112"
                            style="mask-type: alpha"
                            maskUnits="userSpaceOnUse"
                            x="0"
                            y="0"
                            width="24"
                            height="24"
                          >
                            <rect width="24" height="24" fill="#1C1B1F" />
                          </mask>
                          <g mask="url(#mask0_2_112)">
                            <path
                              d="M6.4 18L5 16.6L14.6 7H6V5H18V17H16V8.4L6.4 18Z"
                              fill="#D9D9D9"
                            />
                          </g>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <img
                    src="../assets/images/Rectangle 14.png"
                    alt=""
                    class="img-fluid"
                  />
                  <img
                    src="../assets/images/Rectangle 29.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
